<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.adguard.dnsproxy</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/dnsproxy</string>
		<string>--config-path=/usr/local/etc/dnsproxy/dnsproxy.yaml</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Library/Logs/dnsproxy/dnsproxy.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/dnsproxy/dnsproxy.log</string>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>4096</integer>
	</dict>
</dict>
</plist>
